@import 'common.less';
@import 'h5bp.less';
@import 'grid.less';

// Ratio Calculator
// by Vance Tran (VanceTran.com)
// Follow @VanceTran

// Colors //
@primary: #a859c1;
@secondary: #fff;
@text: #fff;
@link: #fff;
@bg: #4e0068;

// GRID //

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 80;
@gutter-width: 20;

// Remove the definition below for a pixel-based layout
@total-width: 100%;


// LAYOUT //

// Center content
.container {
	max-width: 75em;
	margin: 0 auto;
	clear: both;
	overflow: hidden;
}

body {
	color: @text;
	background: @bg;
}